<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @idea.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @idea.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @idea.thumbnail %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
