<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @person.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @person.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @person.thumbnail %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
