<div class="page-header">
  <div class="row">
    <div class="col-sm-8">
      <h1><%= title %></h1>
      <small><%= desc %></small>
    </div>
    <div class="col-sm-4 text-right">
      <%= link_to fa_icon('plus'), url_for(action: :new), class: 'btn btn-lg btn-info' %>
    </div>
  </div>
</div>
<div>
  <table id="seeds" class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Timestamp</th>
        <% cols.each do |col| %>
          <th><%= t "seeds.properties.#{col}" %></th>
        <% end %>
        <% if @seeds.length && @seeds.first.class == Person %>
          <th>Actif</th>
        <% end %>
        <th>Archive</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @seeds.each do |seed| %>
      <tr>
        <td><span class="hidden"><%= seed.created_at %></span><%= l(seed.creation_date, format: :detailedbis) %></td>
        <% cols.each do |col| %>
        <td><%= seed.send(col) %></td>
        <% end %>
        <% if seed.class == Person %>
          <td><%= seed.active == 1 ? 'Oui' : 'Non' %></td>
        <% end %>
        <td><%= seed.archived ? 'Oui' : 'Non' %></td>
        <td><%= link_to fa_icon('edit'), send("edit_#{seed.class.to_s.underscore}_path", seed) %></td>
        <td><%= link_to fa_icon('remove'), seed, method: :delete, data: { confirm: 'Supprimer cette graine ?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :footer_scripts do %>
    <script>
      $("#seeds").dataTable({
        paging: true,
        ordering: true,
        order: [[0, 'desc']],
        info: true,
        pageLength: 25,
        language: {
          "sProcessing": "Traitement en cours...",
          "sSearch": "Rechercher&nbsp;:",
          "sLengthMenu": "Afficher _MENU_ r&eacute;sultats",
          "sInfo": "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
          "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix": "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
            "sFirst": "<<",
            "sPrevious": "<",
            "sNext": ">",
            "sLast": ">>"
          },
          "oAria": {
            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          }
        },
        "columnDefs": [
          { "orderable": false, "targets": [-1, -2] }
        ]
      });
    </script>
<% end %>