<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @project.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @project.thumbnail %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
