<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @creative_work.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @creative_work.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @creative_work.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @creative_work.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @creative_work.thumbnail %>
</p>

<p>
  <strong>Url:</strong>
  <%= @creative_work.url %>
</p>

<%= link_to 'Edit', edit_creative_work_path(@creative_work) %> |
<%= link_to 'Back', creative_works_path %>
